body{
 background-color: rgb(208, 252, 11);
 text-align: center;
}
h1 {
    font-style: italic;
    color: rgb(255, 103, 2);
    font-size: larger;
}
h2 {
    color: rgb(247, 18, 18);
    font-weight:200;
}

.imagem {
    width: 50%;
}
.imagem2 {
 width: 40%;
}
.lista {
    text-align: left;
    color: rgba(196, 4, 255, 0.598);
}
.pizza {
    color: rgb(184, 7, 228);
}